* {
    box-sizing: border-box;
}

header {
    padding: 1rem;
}

body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 18px;
}

nav img {
    width: .8em;
    margin-bottom: .15em;
}

nav h1 {
    color: white;
}

.material-icons {
    position: relative;
    top: 4px;
    right: 4px;
    font-size: 2rem;
    color: white;
}

.search-bar {
    margin-left: 2rem;
    margin-bottom: 1rem;
    height: 2rem;
    width: 14rem;
    border-radius: 2rem;
    border-color: rgb(26, 81, 56);
}

.card-container {
    display: flex;
    flex-direction: col;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.product-card img, .map-card img{
    height: 450px;
    width: 450px;
}

.product-card .price{
    color: grey;
    font-size: 22px;
}

.rating-card, .map-card, .product-card{
    flex-basis: 0;
    margin: 1rem;
    margin-bottom: 0;
}

.rating-card img{
    padding: 1rem;
}

h3{
    font-size: 16px;
}

.rating-card img {
    margin: 0;
    border: 0;
}

.map-card{
    padding:1rem;
}

footer {
    background-color: rgb(78, 117, 100);
    color: white;
}

footer ul {
    margin-bottom: 0;
}

footer li {
    display: block;
    text-align: center;
}

footer a,
footer p {
    color: white;
    text-decoration: none;
    line-height: 3;
}

@media (min-width:768px) {
    .product-card img, .map-card img{
        height: 600px;
        width: 600px;
    }
    h3{
        font-size: 18px;
    }
    body{
        font-size: 20px;
    }
}

@media (min-width:992px) {
    .product-card img, .map-card img{
        height: 750px;
        width: 750px;
    }
}


