.profile-header {
    top: 20%;
    position: absolute;
    width: 100%;
    text-align: center;
}

form {
    top: 40%;
    position: absolute;
    width: 100%;
    text-align: center;
}

.footprint {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
}

.score-label {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 75%;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .footprint {
        left: 80%;
        top: 60%;
        transform: none;
    }
    .score-label {
        width: auto;
        left: 76%;
        top: 55%;
    } 
}

* {
    box-sizing: border-box;
}

/*For logo*/ 
h1{
    font-family: 'Raleway';
    color:white;
    padding: 10px;
    font-weight: 700;
    font-size: 2rem;
}

nav img{
    width: .8em;
    margin-bottom: .15em;
}

.material-icons {
    position: relative;
    top: 4px;
    right: 4px;
    font-size: 2rem;
    color:white;
}

/*page minus nav margins*/
main{
    margin:0 4em;
}


footer {
    background-color:rgb(78, 117, 100);
    color: white;
}

footer ul {
    margin-bottom: 0;
}

footer li {
    display: block;
    text-align: center;
}

footer a, footer p {
    color: white;
    text-decoration: none;
    line-height: 3;
}