* {
    box-sizing: border-box;
}

/*Allow content to go across the whole page*/
html, body {
    padding: 0;
    margin: 0;
}

/*Header as seen on the index.html page*/
header .home {
    color: rgb(26, 81, 56);
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
    background-image: url('../img/background-photo.jpg');
    background-size: cover;
    width: 100%;
}

/*Defining font family for body*/
body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 18px;
    flex: 1;
}

/*Home screens top level header */
.home h1 {
    color: rgb(26, 81, 56);
    font-family: 'Kanit', sans-serif;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

/*For logo*/ 
h1{
    font-family: 'Raleway';
    color:white;
    padding: 10px;
    font-weight: 700;
    font-size: 2rem;
}

nav img{
    width: .8em;
    margin-bottom: .15em;
}

.material-icons {
    position: relative;
    top: 4px;
    right: 4px;
    font-size: 2rem;
    color:white;
    margin-left:10px;
    padding-bottom: 4px;
}

/*page minus nav margins*/
.bookmarked main, .search main{
    margin:0 4em;
}

/*Main page section header*/
h2{
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    color:rgb(26, 81, 56);
    font-weight:580;
    font-size: 2em;
    margin: 1em;
}

h3{
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    color:black;
    font-weight:580;
    font-size: 1em;
}

/*defines styling for under the website title in the header home page*/
header .home p {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
}

/*Bookmarked products page-only plus to bookmark*/
.plus-icon{
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    color:black;
    font-weight:400;
    font-size: 1em;
    float:right;
}

/*Bookmarked products page-"add items" hide in small screen*/
.add{
    display: none;
}

.search-page-bar{
    width:50%;
    margin-top:3em;
    margin-bottom: 1em;
}

/*Defines styling for the flex box in the home page that contains title and search bar*/
.second-heading ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

/* defines some of the flex box for the list on the second heading in the home page*/
.second-heading li {
    display: flex;
    padding: 1rem;
}

/*Doesn't display Search bar in mobile first approach for styling*/
.second-heading .search-bar {
    display: none;
}

/* defines search bar for home page*/
.search-bar {
    height: 2rem;
    width: 14rem;
    border-radius: 2rem;
    border-color:rgb(26, 81, 56);
}

#search-icon{
    color:rgb(26, 81, 56);
    margin: 10px;
    padding-top:5px;
    
}

/*style all cards on bookmarked page*/
.card-container{
    display: flex;
    flex-wrap: wrap;
}

/*style individual card*/
.card-container .card{
    width: 100%;
    background-color: rgb(247, 247, 247);
    margin:1em 1em;
    margin-left: 0;
    text-align: center;
}

.card-body{
    background-color: rgb(247, 247, 247);
    text-align: center;
}

/* defines the main card container on the home page */
.home-card-container {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-bottom: 1rem;
}

/* defines the home pages card layout*/
.home-card {
    background-color: rgb(78, 117, 100);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    border: none;
    border-radius: 0;
}

/*defines picture size for home imgs*/
.home-card img {
    width: 500px;
    height: 330px;
}

/*defines heading for home cards*/
.home-card h3 {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    align-items: center;
}

.product-img{
    display:none;
}

.product-name{
    font-weight:370;
    padding: 10px;
    margin-bottom: 0;
}

.company{
    font-size: .85em;
    padding: 10px;
    font-weight:300;
    margin-bottom: 3px;
}

.price{
    float:inline-end;
    font-weight: 370;
}

.shop-now{
    background-color: white;
    padding-top:16px;
    padding-bottom:16px;
    margin-bottom: 0;
    text-align: center;
}

.shop-now:hover{
    background-color:black;
    color:white;
}

.rating{
    width:130px;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

/*Defines the alignment of the about us section on home page*/
.about-us {
    text-align: center;
}

/*Defines Size of the image on home page about us section*/
.about-us img {
    height: 50px;
    width: 50px;
}

/* Footer styling colors */
footer {
    background-color:rgb(78, 117, 100);
    color: white;
}

/*Defining Margin for footer*/
footer ul {
    margin-bottom: 0;
}

/*Defines how to show the citing elements for footer*/
footer .citing-links {
    padding: 1rem;
    text-align: center;
}

/*Display of the list items i.e contact info and copyright*/
footer li {
    display: block;
    text-align: center;
}

/*Defines text styling for footer elements*/
footer a, footer p {
    color: white;
    text-decoration: none;
    line-height: 3;
}

@media (min-width:598px){
    .card-container .card{
        max-width:12em;
    }

    .product-img{
        display: block;
        width: 100%;
        margin:0;
        padding:0;
    }
}

@media (min-width:768px){
    .plus-icon{
        display:none;
    }

    .add{
        display:block;
        font-family: 'Montserrat', 'Open Sans', sans-serif;
        color:black;
        font-weight:400;
        font-size: .6em;
        float:right;
        margin-top: 9px;
        margin-right: 2em;
    }

    .second-heading .search-bar {
        display: flex;
    }

    .about-us {
        padding-top: 3rem;
        background-color: lightgray;
        font-weight: 800;
    }

    .about-us h2 {
        margin: 0;
        padding-bottom: 1rem;
    }

}

@media (min-width: 992px) {
    .card-container .card{
        max-width:255px;
    }
}