* {
    box-sizing: border-box;
}

/*For logo*/ 
h1{
    font-family: 'Raleway';
    color:white;
    padding: 10px;
    font-weight: 700;
    font-size: 2rem;
}

nav img{
    width: .8em;
    margin-bottom: .15em;
}

.material-icons {
    position: relative;
    top: 4px;
    right: 4px;
    font-size: 2rem;
    color:white;
    margin-left:10px;
    padding-bottom: 4px;
}

/*page minus nav margins*/
main{
    margin:0 4em;
}

/*Main page section header*/
h2{
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    color:rgb(26, 81, 56);
    font-weight:580;
    font-size: 2em;
    margin: 1em;
}

h3{
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    color:black;
    font-weight:580;
    font-size: 1em;
}

/*Bookmarked products page-only plus to bookmark*/
.plus-icon{
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    color:black;
    font-weight:400;
    font-size: 1em;
    float:right;
}

/*Bookmarked products page-"add items" hide in small screen*/
.add{
    display: none;
}

.search-page-bar{
    width:50%;
    margin-top:3em;
    margin-bottom: 1em;
}

#search-icon{
    color:rgb(26, 81, 56);
    margin: 10px;
    padding-top:5px;
    
}

/*style all cards on bookmarked page*/
.card-container{
    display: flex;
    flex-wrap: wrap;
}

/*style individual card*/
.card-container .card{
    width: 100%;
    background-color: rgb(247, 247, 247);
    margin:1em 1em;
    margin-left: 0;
    text-align: center;
}

.card-body{
    background-color: rgb(247, 247, 247);
    text-align: center;
}

.product-img{
    display:none;
}

.product-name{
    font-weight:370;
    padding: 10px;
    margin-bottom: 0;
}

.company{
    font-size: .85em;
    padding: 10px;
    font-weight:300;
    margin-bottom: 3px;
}

.price{
    float:inline-end;
    font-weight: 370;
}

.shop-now{
    background-color: white;
    padding-top:16px;
    padding-bottom:16px;
    margin-bottom: 0;
    text-align: center;
}

.shop-now:hover{
    background-color:black;
    color:white;
}

.rating{
    width:130px;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: none;  
}

@media (min-width:598px){
    .card-container .card{
        max-width:12em;
    }

    .product-img{
        display: block;
        width: 100%;
        margin:0;
        padding:0;
    }
}

@media (min-width:768px){
    .plus-icon{
        display:none;
    }

    .add{
        display:block;
        font-family: 'Montserrat', 'Open Sans', sans-serif;
        color:black;
        font-weight:400;
        font-size: .6em;
        float:right;
        margin-top: 9px;
        margin-right: 2em;
    }

    footer {
        display:block;
        background-color:rgb(78, 117, 100);
        color: white;
        position:absolute;
        bottom: 0;
        width: 100%;  
    }
    
    footer ul {
        margin-bottom: 0;
    }
    
    footer li {
        display: block;
        text-align: center;
    }
    
    footer a, footer p {
        color: white;
        text-decoration: none;
        line-height: 3;
    }
}
@media (min-width: 992px) {
    .card-container .card{
        max-width:255px;
    }
}