* {
    box-sizing: border-box;
}

.btn-style {
    padding-bottom: 0;
    padding-top: 0;
    background-color: white;
    border-color: white;
}

.input-group{
    align-items:center;
}

/*Allow content to go across the whole page*/
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

nav {
    background-color: rgb(26, 81, 56);
    flex: 0 0;
}

.active {
    color: white;
    text-decoration: underline;
}

/*Header as seen on the index.html page*/

.home {
    color: rgb(26, 81, 56);
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
    background-image: url('../public/img/background-photo.jpg');
    background-size: cover;
    width: 100%;
}

.category-link{
    text-align: center;
}

/*set root div to a height of 100 to allow for page content a height of 100*/
#root {
    height: 100%;
}

/*Puts a flex box around all page content allowing footer to stay at bottom*/
.page-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/*Defining font family for body*/
body {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 18px;
}

/*Home screens top level header */
.home h1 {
    color: rgb(26, 81, 56);
    font-family: 'Kanit', sans-serif;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

/*For logo*/ 
h1{
    font-family: 'Raleway';
    color:white;
    padding: 10px;
    font-weight: 700;
    font-size: 2rem;
}

nav img{
    width: .8em;
    margin-bottom: .15em;
}

.material-icons {
    position: relative;
    top: 4px;
    right: 4px;
    font-size: 2rem;
    color:white;
    margin-left:10px;
    padding-bottom: 4px;
}

/*page minus nav margins*/
.bookmarked{
    margin:0 4em;
}

/*Main page section header*/
h2{
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    color:rgb(26, 81, 56);
    font-weight:580;
    font-size: 2em;
    margin: 1em;
}


/*INSERT FOR MADELINE REACT FOR BOOKMARKS AND SEARCH*/
.search-h2{
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    color:rgb(26, 81, 56);
    font-weight:580;
    font-size: 2em;
    margin: 1em;
    margin-bottom: 0;
    line-height: 1.2;
}

/*MADELINE STYLING FOR BOOKMARKS AND SEARCH*/
.search-header{
    margin-bottom:0;
}

.no-results{
    margin-bottom: 16em;
}

h3{
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    color:black;
    font-weight:580;
    font-size: 1em;
}

/*Style profile header*/
h2 .profile-header {
    top: 20%;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    margin: 0;
}

/*Style title*/
.login-info {
    top: 40%;
    position: absolute;
    width: 100%;
    text-align: center;
}

/*Style the form labels*/
.label-text {
    font-weight:370;
    margin-bottom: 0;
}

/*Request page*/

/*Center the title and form*/
.request-header, form {
    text-align: center;
}

/* Space header better*/
.product-header {
    padding: 1rem;
}

/*Style title*/
.request-header {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}

/*Position of the form*/
.request-body{
    position: absolute;
    width: 100%;
    top: 10%;
    display: block;
}

/*Form labels*/
.label-text {
    font-weight:370;
    margin-bottom: 0;
}

.signOutBody {
    padding-top: 6rem;
    padding-bottom: 12rem;
}

.profileBody {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

/*defines styling for under the website title in the header home page*/
.home p {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
}

/*Bookmarked products page-only plus to bookmark*/
.plus-icon{
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    color:black;
    font-weight:400;
    font-size: 1em;
    float:right;
}

/*Bookmarked products page-"add items" hide in small screen*/
.add{
    display: none;
}

/*Search page bar*/
.search-page-bar{
    width:50%;
    margin-bottom: 1em;
}

/*Search page form, area including bar*/
.search-page-form{
    margin-top:1em;
    text-align: left;
}

.search-page-request{
    color:black;
    padding-bottom: 100px;
}

.search-page-request:hover{
    color:rgb(21, 132, 93);
}

/*Defines styling for the flex box in the home page that contains title and search bar*/
.second-heading ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

/* defines some of the flex box for the list on the second heading in the home page*/
.second-heading li {
    display: flex;
    padding: 1rem;
}

/* defines search bar for home page*/
.search-bar {
    height: 2rem;
    width: 14rem;
    border-radius: 2rem;
    border-color:rgb(26, 81, 56);
}
/* styles search bar on product page*/
.product-search-bar {
    margin-left: 2rem;
    margin-bottom: 1rem;
    height: 2rem;
    width: 14rem;
    border-radius: 2rem;
    border-color: rgb(26, 81, 56);
}

/*changes search icon on all pages*/
#search-icon{
    color:rgb(26, 81, 56);
    
}

#nav-search-form{
    text-align: left;
    margin-bottom: 14px;
}

#search-input{
    margin-bottom: 10px;
}

#nav-search-icon{
    padding-bottom: 0;
    position: relative;
    top: 10px;
}

.navbar-profile-picture{
    width:36px;
    border-radius: 50%;
    margin-right:1em;
    margin-top:.5em;
    margin-bottom: 1em;
}

/* styling cards on product page*/
.product-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.rating-img {
    height: 50px;
    width: 400px;
    margin: 1rem;
}

.product-img{
    height: 300px;
    /* height: 450px; */
    /* width: 450px; */
}

.product-card .price{
    color: grey;
    font-size: 22px;
}

.rating-card, .map-card, .product-card{
    flex-basis: 0;
    margin: 1rem;
    margin-bottom: 0;
}


.rating-card img{
    padding: 1rem;
}

.map-card{
    padding:1rem;
}

/*style results cards*/
.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

/*style individual card on bookmarked page*/
.card-container .card{
    width: 100%;
    background-color: rgb(247, 247, 247);
    margin:1em 1em;
    margin-left: 0;
    text-align: center;
}

.card-body{
    background-color: rgb(247, 247, 247);
    text-align: center;
}

.card-container a{
    color:black;
    text-decoration: none;
}

/* defines the main card container on the home page */
.home-card-container {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-bottom: 1rem;
}

/* defines the home pages card layout*/
.home-card {
    background-color: rgb(78, 117, 100);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    border: none;
    border-radius: 0;
}

/*defines picture size for home imgs*/
.home-card img {
    width: 500px;
    height: 330px;
}

/*defines heading for home cards*/
.home-card h3 {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    align-items: center;
}

.home-card a {
    text-decoration: none;
    text-align: center;
}

/*hides images on search and bookmark page in small screen*/
.bookmark-search-img{
    width: 100%;
    height: 10em;
    object-fit: cover;

    margin:0;
    padding:0;
}

/*styles product names on search and bookmark page*/
.product-name{
    font-weight:370;
    padding: 10px;
    margin-bottom: 0;
}

/*styles company name on search and bookmark page*/
.company{
    font-size: .85em;
    padding: 10px;
    font-weight:300;
    margin-bottom: 3px;
}

/*styles price next to company on search and bookmark page*/
.price{
    float:inline-end;
    font-weight: 370;
}

/*styles shop now button on search and bookmark page*/
.shop-now{
    background-color: white;
    padding-top:16px;
    padding-bottom:16px;
    margin-bottom: 0;
    text-align: center;
}

/*shop now highlights black on search and bookmark page*/
.shop-now:hover{
    background-color:black;
    color:white;
}

/*styles rating on search and bookmark page*/
.rating{
    width:130px;
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

/*Defines the alignment of the about us section on home page*/
.about-us {
    text-align: center;
}

/*Defines Size of the image on home page about us section*/
.about-us img {
    height: 50px;
    width: 50px;
}

/* Footer styling colors */
footer {
    background-color:rgb(78, 117, 100);
    color: white;
    flex: 0 0;
}

/*Defining Margin for footer*/
footer ul {
    margin-bottom: 0;
}

/*Defines how to show the citing elements for footer*/
footer .citing-links {
    padding: 1rem;
    text-align: center;
}

/*Display of the list items i.e contact info and copyright*/
footer li {
    display: block;
    text-align: center;
}

.navProfile {
    width: 50px;
    height: 50px;
}

/*Defines text styling for footer elements*/
footer a, footer p {
    color: white;
    text-decoration: none;
    line-height: 3;
}

@media (max-width:270px) {
    .about-us {
        display: none;
    }
    .home-card img {
        display: none;
    }
    .second-heading h2 {
        size: 1rem;
        margin-left: 0;
    }
    .second-heading ul {
        padding-left: 0;
    }
}

@media (min-width:598px){
    /*larger flex box on bookmark and search page*/
    .card-container .card{
        max-width:12em;
    }
}

@media (min-width:768px){
    /*hide plus icon on bookmark*/
    .plus-icon{
        display:none;
    }

    /*start displaying add items on bookmark*/
    .add{
        display:block;
        font-family: 'Montserrat', 'Open Sans', sans-serif;
        color:black;
        font-weight:400;
        font-size: .6em;
        float:right;
        margin-top: 9px;
        margin-right: 2em;
    }

    .add:hover{
        color:rgb(21, 132, 93);
    }

    .about-us {
        padding-top: 3rem;
        background-color: lightgray;
        font-weight: 800;
    }

    .about-us h2 {
        margin: 0;
        padding-bottom: 1rem;
    }

    .footprint {
        left: 80%;
        top: 60%;
        transform: none;
    }
    .score-label {
        width: auto;
        left: 76%;
        top: 55%;
    } 

}

@media (min-width: 992px) {
    /*larger flex box on bookmark and search page*/
    .card-container .card{
        max-width:255px;
    }
}